<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legumărețu | @ViewData["Title"]</title>
    
    <script src="https://kit.fontawesome.com/e0670bda4c.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LandingContent.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Recipe.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AddRecipe.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MainHeader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Legumaretu.styles.css" asp-append-version="true" />

</head>
<body>
    <header class="mainHeader">
        <img src="assets/logo2.png" />
        <partial name="_MenuPartial" />
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>