@using Microsoft.AspNetCore.Identity
@using Legumaretu.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav>
    <ul>
        <li><a asp-page="/Index">Rețete</a></li>
        <li><a asp-page="/Challenges">Provocări</a></li>

        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Default"))
        {
            <li><a asp-page="/YourChallenges">Progresul tău</a></li>
        }
    </ul>
</nav>
@if (!SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Login">
        <i class="fa-solid fa-user"></i>
        <span>Logare</span>
    </a>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Logout">Delogare</a>
}