.menu {
  display: flex;
  justify-content: center;
  padding: 0 2em 0 2em;
  margin: 2em 0 3em 0;
}
.menu > * {
  margin: 0 3vw 0 3vw;
}
.menu h1 {
  align-self: center;
  margin-left: 0.7em;
}
.menu img {
  width: 7em;
  height: 7em;
  border-radius: 20px;
  margin-right: 0;
}
.menu nav {
  align-self: center;
  font-size: 1.4em;
}
.menu nav > ul {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  height: 3em;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  box-shadow: -19px 11px 15px 0px #F58344, 11px -10px 15px 0px #F54545;
  transition: box-shadow 0.2s ease;
}
.menu nav > ul:hover {
  box-shadow: 19px 11px 15px 0px #F58344, -11px -10px 15px 0px #F54545;
}
.menu nav > ul li {
  align-self: center;
  list-style: none;
}
.menu nav > ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
}
.menu nav > ul li a:hover {
  color: #F56345;
}
.menu > a {
  align-self: center;
  width: 7vw;
  height: 3em;
  padding-top: 0.6em;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 19px 11px 20px 0px #F58344, -11px -10px 20px 0px #F54545;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.menu > a:hover {
  box-shadow: 19px -11px 15px 0px #F58344, -11px 10px 15px 0px #F54545;
  color: #F56345;
}
.menu > a * {
  height: fit-content;
}
