.recipe {
  display: flex;
  flex-direction: column;
}
.recipe img {
  width: 50%;
  border-radius: 20px;
  align-self: center;
  animation: recipeImage 5s ease infinite;
}
.recipe h2 {
  margin-top: 1.5em;
}
.recipe div {
  display: flex;
  gap: 1em;
}
.recipe div > * {
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.5em;
}
.recipe div i {
  color: gold;
}

@keyframes recipeImage {
  0% {
    box-shadow: 9px 14px 5px 0px #403f4c, -14px 3px 5px 0px #F9DC5C, -10px -13px 5px 0px #E84855;
  }
  50% {
    box-shadow: 19px 24px 5px 0px #3185FC, -24px 13px 5px 0px #EFBCD5, -20px -23px 5px 0px #F9DC5C;
  }
  100% {
    box-shadow: 9px 14px 5px 0px #403f4c, -14px 3px 5px 0px #F9DC5C, -10px -13px 5px 0px #E84855;
  }
}
