.recipeList {
  margin: 0 15vw 1em 15vw;
  margin-bottom: 2em;
}
.recipeList > article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.recipeList > article a {
  text-decoration: none;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
}
.recipeList > article a:hover {
  color: #F56345;
}

.recipeContent {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.recipeContent img {
  width: 50%;
  height: 35em;
  border-radius: 20px;
  box-shadow: -13px 12px 15px 0px #F56345;
  transition: box-shadow 0.2s ease;
}
.recipeContent img:hover {
  box-shadow: -23px 22px 15px 0px #F56345;
}
.recipeContent pre {
  width: 50%;
  height: 35em;
  padding: 2em;
  white-space: pre-wrap;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 13px -12px 15px 0px #F5A145;
  transition: box-shadow 0.2s ease;
  overflow: scroll;
}
.recipeContent pre:hover {
  box-shadow: 23px -22px 15px 0px #F5A145;
}

.recipeStats {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.recipeStats > * {
  border: 1px solid white;
  border-radius: 15px;
  padding: 0.5em;
}
.recipeStats i {
  color: gold;
}
.recipeStats #editRecipe, .recipeStats #deleteRecipe {
  align-self: flex-start;
}
.recipeStats #editRecipe i, .recipeStats #deleteRecipe i {
  color: white;
  width: 2em;
  text-align: center;
}

#addrecipe {
  position: fixed;
  left: 90%;
  top: 87%;
  transform: translate(-20%, 0%);
  padding: 1em;
  text-decoration: none;
  border-radius: 15px;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 15px -5px #F54545;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
#addrecipe:hover {
  box-shadow: 12px 12px 15px -5px #F54545;
  color: #F56345;
}

.starfilter {
  float: left;
}
.starfilter span {
  float: right;
  position: relative;
}
.starfilter span input {
  position: absolute;
  top: 3px;
  left: 0;
  opacity: 0;
}
.starfilter span input:hover {
  cursor: pointer;
}
.starfilter span label {
  display: inline-block;
}
.starfilter span:hover ~ span label, .starfilter span:hover label, .starfilter span.checked label, .starfilter span.checked ~ span label {
  color: gold;
}
