.searchfilter {
  margin: 0 15vw 4em 15vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 2em;
  box-shadow: -11px 0px 15px 0px #F5BA45;
  transition: box-shadow ease 0.2s;
}
.searchfilter:hover {
  box-shadow: -21px 0px 15px 0px #F5BA45;
}
.searchfilter button {
  width: 10em;
  background: black;
  padding: 0.5em;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
  box-shadow: 8px 8px 15px -5px #F54545;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.searchfilter button:hover {
  color: #F56345;
}
.searchfilter button:hover {
  box-shadow: 12px 12px 15px -5px #F54545;
  color: #F56345;
}
.searchfilter > * {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.searchfilter > * > * {
  align-self: center;
}
.searchfilter > * p {
  margin: 0;
}
.searchfilter > * span {
  font-size: 1.5em;
}

.pointsearch input {
  appearance: none;
  background: #F5BA45; /* Grey background */
  border-radius: 20px;
}
.pointsearch input::-webkit-slider-thumb, .pointsearch input::-moz-range-thumb {
  appearance: none;
  background: #F54545;
  cursor: pointer;
}
.pointsearch span {
  font-size: 1.3em;
}
.pointsearch output {
  font-size: 1.3em;
  font-weight: bolder;
  color: #F5BA45;
}
