@use "vars.scss";

.searchfilter {
    margin: 0 vars.$pagemargins 4em vars.$pagemargins;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid vars.$secbg;
    border-radius: vars.$radius;
    padding: 2em;
    box-shadow: -11px 0px vars.$fuzz 0px vars.$color5;
    transition: box-shadow ease vars.$timing;

    &:hover {
        box-shadow: -21px 0px vars.$fuzz 0px vars.$color5;
    }

    button {
        @include vars.formButton;
    }

    > * {
        display: flex;
        justify-content: center;
        gap: 1em;

        > * {
            align-self: center;
        }

        p {
            margin: 0;
        }

        span {
            font-size: 1.5em;
        }
    }
}

.pointsearch {
    input {
        appearance: none;
        background: vars.$color5; /* Grey background */
        border-radius: vars.$radius;

        &::-webkit-slider-thumb, &::-moz-range-thumb {
            appearance: none;
            background: vars.$color2;
            cursor: pointer;
        }
    }

    span {
        font-size: 1.3em;
    }

    output {
        font-size: 1.3em;
        font-weight: bolder;
        color: vars.$color5;
    }
}