@use "vars.scss";
@use "menu.scss";
@use "recipe.scss";
@use "recipes.scss";
@use "addRecipe.scss";
@use "editRecipe.scss";
@use "challenges.scss";
@use "addChallenge.scss";
@use "login.scss";
@use "logout.scss";
@use "register.scss";

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;

    body {
        main {
            height: 75vh;
        }

        font-family: 'Poppins', sans-serif;
        background-color: vars.$mainbg;
        color: vars.$textcol;
    }
}
