html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

.mainHeader {
  display: flex;
  justify-content: center;
  gap: 6vw;
  padding: 0 2em 0 2em;
  margin-top: 2em;
  margin-bottom: 3em;
}
.mainHeader img {
  width: 7em;
  height: 7em;
  border-radius: 80px;
}
.mainHeader nav {
  align-self: center;
}
.mainHeader nav > ul {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  height: 3em;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  box-shadow: -19px 11px 15px 0px #403f4c, 11px -10px 15px 0px #F9DC5C;
  transition: box-shadow 0.2s ease;
}
.mainHeader nav > ul:hover {
  box-shadow: 19px 11px 15px 0px #403f4c, -11px -10px 15px 0px #F9DC5C;
}
.mainHeader nav > ul li {
  margin-top: 4px;
  list-style: none;
  font-weight: bolder;
  font-size: 1.4em;
}
.mainHeader nav > ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
}
.mainHeader nav > ul li a:hover {
  color: #E84855;
}
.mainHeader > a {
  align-self: center;
  width: 7vw;
  height: 3em;
  padding-top: 0.6em;
  text-align: center;
  border-radius: 20px;
  box-shadow: 19px 11px 15px 0px #403f4c, -11px -10px 15px 0px #F9DC5C;
  text-decoration: none;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.mainHeader > a:hover {
  box-shadow: 19px -11px 15px 0px #403f4c, -11px 10px 15px 0px #F9DC5C;
  color: #E84855;
}
.mainHeader > a * {
  height: fit-content;
}
