.menu {
  display: flex;
  justify-content: center;
  gap: 6vw;
  padding: 0 2em 0 2em;
  margin: 2em 0 3em 0;
}
.menu img {
  width: 7em;
  height: 7em;
  border-radius: 20px;
}
.menu nav {
  align-self: center;
  font-weight: bolder;
  font-size: 1.4em;
}
.menu nav > ul {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  height: 3em;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  box-shadow: -19px 11px 15px 0px #F58344, 11px -10px 15px 0px #F54545;
  transition: box-shadow 0.2s ease;
}
.menu nav > ul:hover {
  box-shadow: 19px 11px 15px 0px #F58344, -11px -10px 15px 0px #F54545;
}
.menu nav > ul li {
  align-self: center;
  list-style: none;
}
.menu nav > ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
}
.menu nav > ul li a:hover {
  color: #F56345;
}
.menu > a {
  align-self: center;
  width: 7vw;
  height: 3em;
  padding-top: 0.6em;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 19px 11px 20px 0px #F58344, -11px -10px 20px 0px #F54545;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.menu > a:hover {
  box-shadow: 19px -11px 15px 0px #F58344, -11px 10px 15px 0px #F54545;
  color: #F56345;
}
.menu > a * {
  height: fit-content;
}

.recipe {
  display: flex;
  flex-direction: column;
  margin: 0 15vw 1em 15vw;
}
.recipe img {
  align-self: center;
  width: 50%;
  border-radius: 20px;
  box-shadow: 13px 12px 15px 0px #F56345;
  transition: box-shadow 0.2s ease;
}
.recipe img:hover {
  box-shadow: 23px 22px 15px 0px #F56345;
}
.recipe h2 {
  font-size: 40px;
  margin-top: 1.5em;
}
.recipe div {
  display: flex;
  gap: 1em;
}
.recipe div > * {
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.5em;
}
.recipe div i {
  color: gold;
}
.recipe pre {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  white-space: pre-wrap;
}

.recipeList {
  margin: 0 15vw 1em 15vw;
  margin-bottom: 2em;
}
.recipeList > article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.recipeList > article a {
  text-decoration: none;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
}
.recipeList > article a:hover {
  color: #F56345;
}

.recipeContent {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.recipeContent img {
  width: 50%;
  height: 35em;
  border-radius: 20px;
  box-shadow: -13px 12px 15px 0px #F56345;
  transition: box-shadow 0.2s ease;
}
.recipeContent img:hover {
  box-shadow: -23px 22px 15px 0px #F56345;
}
.recipeContent pre {
  width: 50%;
  height: 35em;
  padding: 2em;
  white-space: pre-wrap;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 13px -12px 15px 0px #F5A145;
  transition: box-shadow 0.2s ease;
  overflow: scroll;
}
.recipeContent pre:hover {
  box-shadow: 23px -22px 15px 0px #F5A145;
}

.recipeStats {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.recipeStats > * {
  border: 1px solid white;
  border-radius: 15px;
  padding: 0.5em;
}
.recipeStats i {
  color: gold;
}
.recipeStats #editRecipe {
  align-self: flex-start;
}
.recipeStats #editRecipe i {
  color: white;
  width: 2em;
  text-align: center;
}

#addrecipe {
  position: fixed;
  left: 90%;
  top: 87%;
  transform: translate(-20%, 0%);
  padding: 1em;
  text-decoration: none;
  border-radius: 15px;
  color: white;
  text-align: center;
  box-shadow: 8px 8px 15px -5px #F54545;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
#addrecipe:hover {
  box-shadow: 12px 12px 15px -5px #F54545;
  color: #F56345;
}

.addrecipe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addrecipe form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 0.7em;
}
.addrecipe form button {
  align-self: flex-end;
  width: 10em;
  background: black;
  padding: 0.5em;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
  box-shadow: 8px 8px 15px -5px #F54545;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.addrecipe form button:hover {
  color: #F56345;
}
.addrecipe form button:hover {
  box-shadow: 12px 12px 15px -5px #F54545;
  color: #F56345;
}

.editRecipe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.editRecipe form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 0.7em;
}
.editRecipe form button {
  align-self: flex-end;
  width: 10em;
  background: black;
  padding: 0.5em;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
  box-shadow: 8px 8px 15px -5px #F54545;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.editRecipe form button:hover {
  color: #F56345;
}
.editRecipe form button:hover {
  box-shadow: 12px 12px 15px -5px #F54545;
  color: #F56345;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 0.7em;
}
.login form button {
  align-self: flex-end;
  width: 10em;
  background: black;
  padding: 0.5em;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
  box-shadow: 8px 8px 15px -5px #F54545;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.login form button:hover {
  color: #F56345;
}
.login form button:hover {
  box-shadow: 12px 12px 15px -5px #F54545;
  color: #F56345;
}
.login form a {
  align-self: flex-end;
  margin-top: 1em;
  text-decoration: none;
  width: 10em;
  background: black;
  padding: 0.5em;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
  box-shadow: 8px 8px 15px -5px #F54545;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.login form a:hover {
  color: #F56345;
}
.login form a:hover {
  box-shadow: 12px 12px 15px -5px #F54545;
  color: #F56345;
}

.loginFormErrors ul {
  padding: 0;
}
.loginFormErrors ul li {
  list-style: none;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 0.7em;
}
.register form button {
  align-self: flex-end;
  width: 10em;
  background: black;
  padding: 0.5em;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
  box-shadow: 8px 8px 15px -5px #F54545;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46), box-shadow 0.2s ease;
}
.register form button:hover {
  color: #F56345;
}
.register form button:hover {
  box-shadow: 12px 12px 15px -5px #F54545;
  color: #F56345;
}

.registerFormErrors ul {
  padding: 0;
}
.registerFormErrors ul li {
  list-style: none;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
html body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}
html body main {
  height: 75vh;
}
