.users article {
  margin: 0 15vw 2em 15vw;
  text-align: center;
}
.users article > div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}
.users article > div > * {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  width: 20vw;
  padding: 1em;
}
.users article > div > * h3 {
  color: #F5A145;
}
.users article > div > * ul {
  text-align: left;
}
.users article a {
  text-decoration: none;
  color: white;
  transition: color 0.2s cubic-bezier(0.67, 0.13, 0.36, 1.46);
}
.users article a:hover {
  color: #F56345;
}
