@use "vars.scss";

.yourChallengesList {
    margin: 0 vars.$pagemargins 1em vars.$pagemargins;

    > article {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 3em;
    }

    margin-bottom: 2em;

    @include vars.link;
}

.yourChallengesTitleDesc {
    display: flex;
    justify-content: space-between;

    > div {
        display: flex;
        gap: 1em;

        &:nth-child(1) {
            flex-direction: column;
        }

        &:nth-child(2) {
            > * {
                width: 9em;
                text-align: center;
                align-self: last baseline;
                height: fit-content;
                border: 1px solid vars.$secbg;
                border-radius: vars.$fuzz;
                padding: 0.5em;
            }

            a {
                @include vars.formButton;

                width: fit-content;
            }
        }
    }
}

.challengeDescription {
    width: 100%;
}

.yourChallengeRecipeList {
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid vars.$secbg;
    border-radius: vars.$radius;
    padding: 2em;
    box-shadow: 13px 12px vars.$fuzz 0px vars.$color3;
    transition: box-shadow vars.$timing ease;

    &:hover {
        box-shadow: 23px 22px vars.$fuzz 0px vars.$color3;
    }
}

.yourChallengeRecipe {
    display: flex;
    gap: 2em;
    justify-content: space-between;

    img {
        width: 10em;
        border-radius: 20px;
        box-shadow: -10px 8px vars.$fuzz 0px vars.$color5;
        transition: box-shadow vars.$timing ease;

        &:hover {
            box-shadow: -13px 10px vars.$fuzz 0px vars.$color5;
        }
    }

    h3, div {
        align-self: center;
    }

    div {
        display: flex;
        gap: 1em;

        > * {
            border: 1px solid vars.$secbg;
            border-radius: vars.$fuzz;
            padding: 0.5em;
        }

        i {
            color: gold;
        }
    }
}