@page
@model AddRecipeModel
@{
}

<h1>Add Recipe</h1>
<form method="post" enctype="multipart/form-data">
	<label>Name</label><br/>
	<input asp-for="Recipe.Name"/><br/>
	<span asp-validation-for="Recipe.Name" class="text-danger"></span><br />
	<label>Description</label><br/>
	<input asp-for="Recipe.Description"/><br/>
	<label>Difficulty (1-5)</label><br/>
	<input type="number" min="1" max="5" value="1" asp-for="Recipe.Stars"/><br/>
	<span asp-validation-for="Recipe.Stars" class="text-danger"></span><br />
	@* TODO: Image Upload *@
	<input type="file" asp-for="@Model.Image" />
	<span asp-validation-for="@Model.Image" class="text-danger"></span><br />
	<button>Submit</button>
</form>