@page "{id}"
@model Legumaretu.Pages.DeleteChallengeModel

@{
	ViewData["Title"] = "Șterge provocarea";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<sesction class="deletechallenge">
	<h2>Șterge provocarea</h2>
	<p>Ești sigur că vrei să ștergi provocarea @Html.DisplayFor(model => model.Challenge.Name)?</p>

	<form method="post">
		<input type="hidden" asp-for="Challenge.Id" />
		<button type="submit">Șterge</button>
	</form>
</sesction>
