@page "{id}"
@model Legumaretu.Pages.DeleteRecipeModel

@{
	ViewData["Title"] = "Șterge rețeta";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="deleterecipe">
	<h2>Șterge rețeta?</h2>
	<p>Ești sigur că vrei să ștergi rețeta @Html.DisplayFor(model => model.Recipe.Name) ?</p>

	<form method="post">
		<input type="hidden" asp-for="Recipe.Id" />
		<button type="submit">Șterge</button>
	</form>
</section>
