@page "{id}"
@model Legumaretu.Pages.EditRecipeModel

@{
    ViewData["Title"] = "EditRecipe";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit Recipe</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipe.Id" />
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Description" class="control-label"></label>
                <input asp-for="Recipe.Description" class="form-control" />
                <span asp-validation-for="Recipe.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
	            <label asp-for="Recipe.Stars" class="control-label"></label>
                <input type="number" min="1" max="5" value="1" asp-for="Recipe.Stars" class="form-control" />
	            <span asp-validation-for="Recipe.Stars" class="text-danger"></span>
            </div>
            @* TODO: Image Upload *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
