@page
@model ErrorModel
@{
	ViewData["Title"] = "Eroare";
}

<section class="error">
	<h2>Eroare</h2>
	<p>Din anumite motive, Legumărețu' s-a stricat. Dacă este vina noastră, încercăm pe cât putem să remediem problema.</p>
</section>